*{
	box-sizing: border-box;
}
body{
	width: 1000px;
	margin: 0 auto;
}

ul{
	margin: 0;
	padding: 0;
	display: inline-block;

		
}

ul li{
	float: left;
	list-style-type: none;

}
ul li a{
	
	padding: 10px 15px;
	background-color: #000;
	color: #eee;
	text-decoration: none;
	font-size: 16px;
	transition: background-color 300ms;
	display: block;
}

ul li a:hover{
	background-color: maroon;
}
.parent{
	width: 700px;
	height: 300px;
	background-color: orange;
	background-image: url(images/slider14.jpg);
	/*background-size: cover;*/
	/*background-position: center;*/

}
 .parent .child{
	width: 100%;
	height: 100%;
	background-color: red;
	top: 0;
	left: 0;
	padding: 80px 0;
	text-align: center;
	color: #eee;
	transition: opacity 1s;

}

.parent .child:hover{
	opacity: 0;
}

.img-box{
	width: 700px;
	height: auto;
	overflow: hidden;

}
.img-box #image{
	width: 100%;
	overflow: hidden;
	transition: transform 3s ease-in-out;
}
.img-box #image:hover{
transform: scale(1.2);
}