body{
	margin: 0;
	position: relative;
}
.content{
	padding-left: 16%;
}
ul{
	list-style-type:none;
	margin:0;
	padding:0;
	background-color:#eee;
	width:15%;
	height: 100%;
	position: fixed;
	overflow: auto;
	
}
li a{	
	display:block;
	text-decoration:none;
	padding:10px;
	text-align: center;
	color:black;
}

li:hover{

	background-color:#888;
	color:white;
}

.active{
	background-color:green;
	color:white;
}
