*{
	box-sizing: border-box;
}a

.container{
	width: 690px;
}

.container header {
	width: 100%;
}

.container header img{
	width: auto;
	margin: auto;
	display: block;
}

.container nav{
	background-color: #395E79;
	margin: 0;
	padding: 0;
}

.container nav ul{
	width: 398px;
	margin: auto;
	list-style-type: none;
	padding: 0;
}

.container nav ul li{
	display: inline-block;
}

.container nav ul a{
	text-decoration: none;
	padding: 10px;
	display: inline-block;
	color: white;
	font-family: cursive;
	text-align: center;
}

.container nav ul a:hover{
	background-color: white;
	color: #395E79;
}

.container .man-wearing-watch img{
	width: 100%;
}

.container .paragraph p{
	width: 100%;
}

.container .jewelries .main-img{
	display: inline-block;
	
}


.container footer p{
	text-align: center;
	
}