*{
	box-sizing: border-box;
}

.container{
	width: 90%;
	background-color: #999;
	height: auto;
	margin: 0 auto;
}

.container header{
	width: 100%;
	background-color:maroon;
	height: 100px; 
}

.container nav{
	background-color: #111;
	width: 100%;
	height: 70px;
}

.container .slide{
	width: 100%;
	background-color: #eee;
	min-height: 300px;
}

.container .slide .bigger, .container .slide .big{
	width: 65%;
	background-color: #bbb;
	min-height: 300px;
	float: left;
}

.container .slide .big{
	width: 35%;
	background-color: #999;
}

.container .three-boxes{
	width: 100%;
	min-height: 400px;
	background-color: black;
	padding-right: 4%;
	margin: 0 auto;
}

.container .three-boxes aside { 
width: 28%;
background-color: #ccc;
margin:  4% 0% 4% 5%;
min-height: 300px;
float: left;
}

.container .two-boxes{
	background-color: #ccc;
	min-height: 500px;
	width: 95%;
	padding-right: 3%;
	margin: 20px auto;
}

.container .two-boxes .box1, .container .two-boxes .box2{
	background-color: black;
	min-height: 400px;
	width: 50%;
	margin: 50px 0 50px 3%;
	float: left;
}

.container .two-boxes .box2{
	width: 44%;
}

.container footer{
	width: 100%;
	height: 100px;
	background-color:maroon;
}
