*{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
}

@font-face{
	src: url(../fonts/roboto-regular.ttf);
	font-family: roboto;
}

@font-face{
	src: url(../fonts/khand-regular.ttf);
	font-family: khand;
}

@font-face{
	src: url(../fonts/pacifico-regular.ttf);
	font-family: pacifico;
}

@font-face{
	src: url(../fonts/tajawal-regular.ttf);
	font-family: tajawal;
}

@font-face{
	src: url(../fonts/boogaloo-regular.ttf);
	font-family: boogaloo;
}

body{
	width: 100%;
	margin: 0;
	font-family: roboto;
	color: #76777b;
}

.top{
	width: 100%;
	min-height: 600px;
	background-image: url(../images/banner1.jpg);
	background-size: cover;
}

.top header{
	width: 90%;
	height: 70px;
	padding: 30px 0;
	margin: auto;
}

.top header .logo{
	width: auto;
	float: left;
}

.top header .logo a img{
	width: 180px;
}

.top header nav{
	width: auto;
	float: right;
}

.top header nav ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.top header nav ul li{
	float: left;
}

.top header nav ul li a{
	display: block;	
	border-radius: 4px;
	padding: 7px 17px;
	text-decoration: none;
	color: #eee;
	margin-right: 5px;
	transition: all 0.5s;
	-moz-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
}

.top header nav ul li a:hover{
	background-color: #eee;
	color: #282923;
}

.top header nav ul li a.current{
	border: 2px solid #eee;
}

.top .content{
	width: 80%;
	min-height: 200px;
	margin: auto;
	padding-top: 40px;
}

.top .content article{
	width: 40%;
	min-height: 200px;
	float: left;
	padding-top: 90px;
}

.top .content article h1{
	font-size: 50px;
	color: #eee;
	margin: 0;
	width: 400px;
	line-height: 70px;
}

.top .content article p{
	font-size: 18px;
	color: #eee;
	word-spacing: 10px;
	line-height: 30px;
	width: 400px;
}

.top .content aside{
	float: right;
	width: 40%;
	min-height: 200px;
	padding-top: 70px;
	font-family: khand;
}

.top .content aside form{
	background-color: #fff;
	width: 90%;
	min-height: 300px;
	color: #eee;
	padding: 15px 30px;
}

.top .content aside form h1{
	font-size: 25px;
	font-family: roboto;
	color: #78797d;
}

.top .content aside form input{
	width: 100%;
	height: 45px;
	border-radius: 4px;
	border: none;
	margin-bottom: 10px;
	padding: 5px 10px;
	font-size: 15px;
	font-family: roboto;
	background-color: #eee;
}

.top .content aside form input[type='submit']{
	background-color: #eb2941;
	cursor: pointer;
	text-transform: uppercase;
	color: #eee;
}

.container-fluid{
	width: 100%;
	min-height: 600px;
	color: #76777b;
}

.container-fluid article{
	width: 50%;
	height: 600px;
	background-image: url(../images/1.jpg);
	background-size: cover;
	float: left;
}

.container-fluid aside{
	width: 50%;
	height: 600px;
	float: right;
	padding: 15px 60px;
}

.container-fluid aside h1{
	font-size: 35px;
	margin-bottom: 35px;
}

.container-fluid aside p i.fa.fa-clock-o, i.fa.fa-users{
	color: #6339f3;
	font-size: 25px;
}

.container-fluid aside h2{
	font-size: 20px;
}

.container-fluid aside hr{
	color: #eee;
}

.container-fluid aside p{
	font-size: 15px;
	word-spacing: 10px;
	line-height: 20px;
}

.outer-row{
	width: 100%;
	min-height: 500px;
	background-color: #f8f9fb;
	padding: 50px 0;
}

.outer-row .container{
	width: 850px;
	min-height: 1000px;
	margin: auto;
}

.container .row1 .box{
	float: left;
	width: 50%;
	height: 500px;
	text-align: right;
	padding: 0 30px 0 130px;
	margin-bottom: 20px;
}

.container .row2 .box{
	float: left;
	width: 50%;
	height: 500px;
	padding: 0 130px 0 30px;
}

.container .row1 .box.bgimg{
	background-image: url(../images/2.jpg);
	background-size: cover;
}

.container .row2 .box.bgimg{
	background-image: url(../images/3.jpg);
	background-size: cover;
}

.container .row1 p{
	word-spacing: 10px;
	line-height: 20px;
	margin-bottom: 55px;
}

.container .row1 h1{ 
	font-size: 30px;
	border-bottom: 1px solid #eb2941;
	padding-bottom: 10px;
}

.container .row1 span a{
	display: inline-block;
	padding: 7px 15px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
	color: inherit;
	background-color: transparent;
	border-radius: 5px;
	border: 2px solid #eb2941;
}

.container .row2 p{
	word-spacing: 10px;
	line-height: 20px;
	margin-bottom: 55px;
}

.container .row2 h1{
	.color: #eb2941; 
	font-size: 30px;
	border-bottom: 1px solid #eb2941;
	padding-bottom: 10px;
}

.container .row2 span a{
	display: inline-block;
	padding: 7px 15px;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	text-decoration: none;
	color: inherit;
	background-color: transparent;
	border-radius: 5px;
	border: 2px solid #eb2941;
}

.purple{
	width: 100%;
	min-height: 350px;
	background-color: #6339f3;
}

.purple .container{
	width: 960px;
	min-height: 100%;
	margin: auto;
	color: #eee;
	padding: 70px 0 30px 0;
}

.purple .container h1{
	text-align: center;
}

.purple .container .box{
	width: 24%;
	display: inline-block;
	vertical-align: top;
	min-height: 250px;
	padding: 20px 30px;
	text-align: center;
}

.purple .container .box hr{
	color: #282923;
}


.fixedbg{
	width: 100%;
	background-image: url(../images/banner.jpg);
	height: 400px;
	padding: 60px 0;
	text-align: center;
	background-size: cover;
	background-attachment: fixed;
}

.fixedbg .container{
	width: 800px;
	margin: auto;
	min-height: 400px;
}

.fixedbg .container h1{
	color: #282923;
}

.fixedbg .container p{
	word-spacing: 8px;
	line-height: 20px;
	margin-bottom: 40px;
}

.fixedbg .container span a{
	display: inline-block;
	padding: 7px 15px;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	color: inherit;
	background-color: transparent;
	border-radius: 5px;
	border: 2px solid #eb2941;
}

.fixedbg .container span a:hover{
	background-color: #eb2941;
	color: #eee;
}

.sixboxes{
	max-width: 100%;
	min-height: 550px;
	padding: 60px 0;
}
section.sixboxes h1.box, .picture h1,
.projects h1{
	font-size: 30px;
	margin-top: 0;
	padding-top: 0;
	text-align: center;
}
.sixboxes span a,
.picture span a,
.projects span a{
	width: 120px;
	margin: auto auto 0;
	display: block;
	font-weight: bold;
	padding: 7px 15px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	color: #eb2941;
	background-color: transparent;
	border: 2px solid transparent;
}

.sixboxes span a:hover,
.picture span a:hover, 
.projects span a:hover{
	border-radius: 7px;
	background-color: #eb2941;
	color: #eee;
}
.sixboxes .boxes{                        
	max-width: 960px;
	min-height:680px;
	margin: auto;
}

.sixboxes .boxes .box{
	max-width: 32%;
	min-height: 260px;
	float: left;
	margin:20px 2% 0 0;
	padding: 30px 30px;
	color: #FDFFFC;
	text-align: left;
}

.sixboxes .boxes .box:nth-child(6),
.sixboxes .boxes .box:nth-child(3){
	margin-right: 0;
}
.sixboxes .boxes .box:nth-child(1){
	background-color:#FBD92F;
}

.sixboxes .boxes .box:nth-child(2){
	background-color:#F26B31;
}

.sixboxes .boxes .box:nth-child(3){
	background-color:#EB2941;
}

.sixboxes .boxes .box:nth-child(4){
	background-color:#6339F3;
}

.sixboxes .boxes .box:nth-child(5){
	background-color:#7BDC3D;
}

.sixboxes .boxes .box:nth-child(6){
	background-color:#99D9F4;
}

.sixboxes .boxes .box p{
	word-spacing: 3px;
	line-height: 25px;
}

.sixboxes .boxes .box hr{
	color: #eee;
	border: .5px solid #ccc;
}

.sixboxes .boxes .box .fa{
	font-size: 30px;
}

.contact{
	background-image: url(../images/contact.jpg);
	width: 100%;
	height: 180px;
	background-size: cover;
	background-attachment: fixed;
}

.contact p{
	text-align: center;
	color: #fff;
	font-size: 34px;
	padding: 70px 0  69px;
	margin: 0;
}

.picture{
	width: 100%;
	padding: 60px 0;
}

.picture .threepics{
	width: 780px;
	margin: auto;
	min-height: 320px;
	padding-top: 40px;
}

.picture h1{
	font-size: 30px;
	margin: 0;
	padding-top: 0;
	text-align: center;
}
.picture .threepics img, .picture .twopics img{
	width: 240px;
	height: 260px;
	float: left;
	margin-right:20px;
}

.picture .threepics img:nth-child(3),
.picture .twopics img:nth-child(2){
	margin-right: 0;
}

.picture .twopics{
	width: 500px;
	margin: auto;
	min-height: 280px;
}

.projects{
	width: 100%;
	background-color: #EAF9FF;
	padding: 60px 0 10px;
}

.projects ul{
	list-style-type: none;
	padding: 0;
	width:100%;
	height: 33px;
	float: left;
	clear: right; 
	margin: 0 0 40px;
}

.projects ul div{
	width: 40%;
	height: inherit;
	margin: auto;
}
.projects ul li{
	float: left;
	display: inline-block;
	margin: 0 auto;
}

.projects ul li a{
	display: block;
	padding: 7px 10px;
	text-decoration: none;
	color: #76777b;
	font-weight: bold;
}

.projects ul li a.active .notred{
	display: inline-block;
	padding-left: 10px;
	color: #76777b;
}
.projects ul li a .notred{
	display: inline-block;
	padding-left: 10px;
	color: #76777b;
}

.projects ul li a.active{
	color: #eb2941;
}

.projects .imgs {
  width: 96%;
  min-height: 600px;
  margin: auto;
}
.projects img{
	float: left;
	width: 19%;
	height: 150px;
	margin: .5%;
}

.client{
	background-image: url(../images/contact.jpg);
	width: 100%;
	min-height: 400px;
	background-attachment: fixed;
	background-size: cover;
	padding: 60px 0;
}

.client h1{
	color: #eee;
	text-align: center;
	font-size: 35px;
}

.client .para{
	width: 380px;
	margin:10px auto;
	border: 1px solid #eee;
	line-height: 25px;
	letter-spacing: 1px;
	font-family: tajawal;
	color: #ccc;
	padding:0 20px;
	position: r;
}
.client .para:after{
	content: "";
	width: 50px;
	height: 50px;
	border-top: 50px;
	border-left: 25px;
	border-right: 25px;
	position: absolute;
	top: 100%;
	left: 25%;

}
.client .black, .client .white{
	width: 50px;
	height: 50px;
	margin: 0 auto;
	float: left;
}

.client .photoname{
	width: 300px;
	margin: auto;
	min-height: 150px;
	padding: 20px 0;
}

.client .photoname .photo{
	width: 100px;
	height: 100px;
	border-radius: 100%;
	background-image: url(../images/t1.jpg);
	float: left;
	margin: 0 20px 0 0px;
}

.client .photoname .name{
	padding-top: 30px;
}

.client .photoname .name p{
	margin: 0;
	color: #ddd;
}

.client .photoname div.name .pbold{
	font-size: 20px;
	font-weight: bold;
}

.client .photoname .name .state{
	color: #647A99;
	font-weight: bold;
}

.client .prevnext{
	width: 100px;
	height: 40px;
	margin: 20px auto;
}
.client .next{
	width: 10px;
	height: 10px;
	border-radius: 100%;
	background-color: #eee;
	float: left;
	margin: 5px;
}
.client .active{
	background-color: #151515;
}

.bottom{
	width: 100%;
	min-height: 300px;
	background-color: #151515;
	margin: 0;
	padding: 50px 0 40px;
}
.bottom .container{
	width: 85%;
	min-height:inherit;
	margin:-10px auto 0;
	background-color: #151515;
}
.bottom .container hr.underline{
	display: block;
	width: 96%;
	/*margin: auto;*/
	color: #666;

}
.bottom .container .content{
	width: 250px;
	float: left;
	margin: 18px;
	color: #666;
}
.bottom .container .content h1{
	margin-top: 0;
	color: #ccc;
}
.bottom .container .content hr{
	margin-bottom: 30px;
}

.bottom .container .content .fa:not(.mail){
	border: 1px solid #999;
	border-radius: 100%;
	width: 50px;
	text-align: center;
	height: 50px;
	text-align: center;
	background-color: transparent;
	padding:15px 10px 3px;
}
.bottom .container .intouch span{
	color: #647A99;
	font-weight: bold;
	display: inline-block;
}
.bottom .container .intouch p{
	margin: 0;
}
.bottom .container .intouch p.address{
	margin-bottom: 30px;
}
.bottom .container .links ul{
	list-style-type: none;
	padding: 0;
}
.bottom .container .links ul a{
	color: inherit;
	text-decoration: none;
	display: block;
	padding-bottom:10px;
	width: 150px;
}

.bottom .container .subscribe .input{
	width: 250px;
	height: 40px;
	padding: 10px;
	border:1px solid #999;
}
.bottom .container .subscribe input{
	width: 200px;
	outline: none;
	border: none;
	background-color: transparent;
}
.bottom .container .subscribe .fa-envelope{
	color: #fff;
}
footer{
	background-color: #151515;
	margin: 0;
	padding:20px 20px 10px;
	height: 80px;
}

footer p{
	text-align: center;
	margin: 0
}
footer a{
	float: right;
	display: inline-block;
	background-color: transparent;
	color: #eee;
	text-decoration: none;
}