*{
	box-sizing: border-box;
}
body{
	margin: 0;
	padding: 0 20px 20px;
}
h1{
	text-align: center;
}
img{
	width: 700px;
	height: auto;
	padding-right: 20px;
	float: left;
}
p{
display: inline-block;
vertical-align: top;
width: 580px;
margin-top: 0;
margin-right: 20px;
}
